:root {
    --yellow: #ffc600;
  }

  html {
    color: #444;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  p {
    line-height: 1.8;
  }

  img {
    max-width: 100%;
  }

  a {
    color: black;
    text-decoration: underline wavy var(--yellow);
  }

  h1,
  h2 {
    font-size: 5rem;
    font-style: italic;
    font-weight: 100;
    margin: 0;
  }
.post{
    display: grid;
    max-width: 1000px;
    margin: 200px auto;
    grid-template-columns: 3fr 12fr 5fr;
    grid-gap: 20px;
}

.post > *{
    grid-column: 2 / -2;
}

.post>figure{
    margin: 0;
    grid-column: 1 / -1;
}

figcaption{
    font-size: 10px;
}

.post>blockquote{
    grid-column:  1 /-1;
    font-size: 3.75rem;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.tip{
    background: #fafafa;
    padding: 10px;
    grid-row: span 5;
    align-self: flex-start;

}

.tip-left{
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 2px solid var(--yellow);
}

.tip-right{
    grid-column: span 1 / -1;
    border-left: 2px solid var(--yellow);
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow) rgba(252, 237, 209, 0.781);
    scrollbar-width: 14px;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(252, 237, 209, 0.781);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 50px;
    /* border: 3px solid rgba(252, 237, 209, 0.781); */
  }

@media (max-width: 500px){
    html{
        font-size: 10px;
    }
    
    body{
        margin: 0;
    }
    .post{
        margin: 0;
    }

    .img{
        grid-column: 1 /  -1;
    }

    .post > p{
        font-size: 16px;
    }
    figcaption{
        padding-left: 10px;
    }
}